bin/*
obj/*
.vs/Flight Vector/v16/.suo
.vs/Prospector/FileContentIndex/748ee8ff-c9e1-4115-87ff-1ee9478cb5bd.vsidx
.vs/Prospector/FileContentIndex/ad3f6140-25a7-4586-82d0-1e3c141c14ff.vsidx
.vs/Prospector/FileContentIndex/afea71af-0b5e-41c4-b47b-e7130d4638a5.vsidx
.vs/Prospector/FileContentIndex/b3827180-bd21-4fda-9cd6-cf5930bcadc9.vsidx
.vs/Prospector/FileContentIndex/e417656c-2393-48cd-9f72-63ec08945f46.vsidx
.vs/Prospector/v16/.suo
.vs/Prospector/v17/.suo
obj/Debug/WC Radar.csproj.CopyComplete
obj/Debug/WC Radar.csproj.CoreCompileInputs.cache
obj/Debug/WC Radar.csproj.FileListAbsolute.txt
.vs/Prospector/FileContentIndex/9cc9b598-c1bb-4d4d-870e-de54a6de0b66.vsidx
.vs/Prospector/FileContentIndex/cd8764ca-f9fd-481e-a79f-1be8a8fd1e37.vsidx
/.vs
